<link rel="stylesheet" href="/css/firstpage.css">
<div id="firstPageHeading">
    <h1>Welcome</h1>
    <p>Master your habits, master your destiny.</p>
</div>

<div id="firstPagebutton">
    <button id="startButton">Start</button>
</div>

