
<header>
    <div class="header-main-div">
        <div>
            <p><i class="fa-solid fa-person-walking"></i> Habit Tracker</p>
        </div>
        <div>
            <ul>
                <li>Hello Amrit</li>
            </ul>
        </div>
    </div>
</header>