<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Habit Tracker</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
        <%- include('header') -%>

            <main>
                <div class="layout-main">
                    <%- body %>
                </div>
            </main>

              
        <script src="https://kit.fontawesome.com/70bc9d4f76.js" crossorigin="anonymous"></script>
    </body>
</html>